* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #242424;
  color: #242424;
  text-align: center;
}

a {
  text-decoration: none;
  color: #232323;
  font-size: .8rem;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  text-decoration: underline;
  color: wheat;
  margin: 2rem 0;
}

h4 {
  font-size: 1.4rem;
}

ul {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

li {
  width: 28rem;
  text-transform: uppercase;
  list-style: none;
  font-weight: 500;
  letter-spacing: .1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: wheat;
  padding: .2rem;
  margin: 1rem;
  border-radius: .4rem;
}

img {
  width: 14rem;
  height: 14rem;
  border-radius: .4rem;
  border: 1px solid #242424;
}


.container {
  position: relative;
  width: 100%;
  height: auto;
}

.userDetail {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-right: 4rem;
  gap: 2rem;
}

@media screen and (max-width: 720px) {
  ul {
    grid-template-columns: repeat(1, 1fr);
  }

  li {
    width: 90%;
    flex-direction: column;
  }

  .userDetail {
    gap: .2rem;
    margin: auto;
  }

  a {
    margin-left: 25%;
  }


}